/* global */
*{
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.centrar{
    justify-content: center;
}

.separacion{
    margin-right: 20px;
}

.columnas{
    flex-direction: column;
}

.grid{
    display: grid;
    place-items: center;
}

.final{
    -ms-flex-align: end;
}

.evenly{
    justify-content: space-evenly;
}


:root{
    background-color: white;
    color: rgb(170, 4, 4);
}

a{
    display: block;
    width: 100%;
    height: 100%;
}

li{
    cursor: pointer;
    list-style: none;
}

/* header */
header{
    background-color: rgb(206, 206, 206);
    margin-bottom: 20px;
}
img {
    height: 50px;
}
.logo{
    width: 74%;
    margin: 30px 0;

}

.logo h1{
    cursor: pointer;
}

.sesion{
    width: 24%;
    margin: 4px 1%;
}

button{
    width: 60%;
    height: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
}

.fijo{
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.f1{
    top: 1rem;
    right: 1rem;
    background-image: url(../imagenes/galicia.jpg);
}

.f2{
    top: 2.5rem;
    right: 1rem;
    background-image: url(../imagenes/españa.jpg);
}

.f3{
    top: 4rem;
    right: 1rem;
    background-image: url(../imagenes/ingles.png);
}
.idiomas{
    border-radius: 50%;
    width: 20px;
    height: 20px;

}

/* main */
main{
    min-height: 550px;
}

.bizquierda{
    border: 2px solid black;
    width: 15%;
    margin-left: 3px;
}

ul{
    margin: 10% 20%;
    font-size: 15px;
}

li{
    margin: 10px 0;
    color: black;
}

li:hover{
    color: rgb(170, 4, 4);
    font-weight: bold;
}

.central{
    /* border: 2px solid black; */
    width: 65%;
    margin: 0 1%;

}

.bdereita{
    width: 16%;
}

.eventos{
    width: 80%;
    min-height: 200px;
    background-image: url(../imagenes/final.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    height: 40%;
    margin: 1rem 10%;
}


input{
    width: 80%;
    margin-top: 10px;
}




.informa{
    border: 2px solid black;
    width: 100%;
    height: 100%;
}

/* izquierda */

.enlaces h1{
    text-align: center;
}

li{
    margin-left: 20px;
}



/* footer */
footer{
    background-color: rgb(206, 206, 206);
    margin-top: 20px;
    padding: 20px;
}
.pie{
    margin: 20px 0;
}
.redes{
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30%;
    cursor: pointer;
}

.facebook{
    background-image: url(../imagenes/facebook.png);
}

.facebook:hover{
    background-image: url(../imagenes/facebook_hover.png);
}

.instagram{
    background-image: url(../imagenes/instagram.png);
}

.instagram:hover{
    background-image: url(../imagenes/instagram_hover.png);
}

.twitter{
    background-image: url(../imagenes/twitter.png);
}

.twitter:hover{
    background-image: url(../imagenes/twitter_hover.png);
}



/*  Inicio sesion */


  #contenedor {
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0;
    padding: 0;
    min-width: 100vw;
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

#central {
    max-width: 320px;
    width: 100%;
}

.titulo {
    font-size: 250%;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

#login {
    width: 100%;
    padding: 50px 30px;
    background-color: black;
    
    -webkit-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.15);
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    box-sizing: border-box;
}

#login input {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color: black;
    
    display: block;
    width: 100%;
    height: 40px;
    
    margin-bottom: 10px;
    padding: 5px 5px 5px 10px;
    
    box-sizing: border-box;
    
    border: none;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
}

#login input::placeholder {
    font-family: 'Overpass', sans-serif;
    color: #E4E4E4;
}

#login button {
    font-family: 'Overpass', sans-serif;
    font-size: 110%;
    color:black;
    width: 100%;
    height: 40px;
    border: none;
    
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    
    background-color: #bbe1fa;
    
    margin-top: 10px;
}

#login button:hover {
    background-color: #636363;
    color:red;
}

.pie-form {
    font-size: 90%;
    text-align: center;    
    margin-top: 15px;
}

.pie-form a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.pie-form a:hover {
    color: red;
}

.inferior {
    margin-top: 10px;
    font-size: 90%;
    text-align: center;
}

.inferior a {
    display: block;
    text-decoration: none;
    color: #bbe1fa;
    margin-bottom: 3px;
}

.inferior a:hover {
    color: black;
}

label {
    font-weight: bold;
}
  

/* carrousel publicidad */
.carousel {
    position: relative;
    height: 100%;
    overflow: hidden;
  }
  
  .carousel-item {
    position: absolute;
    background-color: #000000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .carousel-item.active {
    opacity: 1;
  }
  
  .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  
  .carousel-toggle {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .carousel-dot.active {
    opacity: 1;
  }
  
  .carousel-toggle {
    background-color: #ffffff;
    bottom: 0;
    width: 100%;
    color: #000000;
    border: none;
    cursor: pointer;
  }
  
  .carousel-item:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.5);
    z-index: 1;
  }
  
  .carousel-item::before {
    display: none;
  }

  .filtro {
    filter: hue-rotate(-0.25turn);
  }

  /* Carrousel ventas */

  .venta {
        position: relative;
        width: 100%;
        overflow: hidden;
      }

      .venta h1{
        text-align: center;
        margin-bottom: 20px;
      }
      
      .contenedor {
        white-space: nowrap;
        font-size: 0;
        transition: transform .3s;
      }
      
      .producto {
        display: inline-block;
        width: calc(100% / 4);
        font-size: 16px;
        vertical-align: top;
        margin-right: -4px;
      }
      
      .producto img {
        width: 100%;
        height: auto;
        vertical-align: top;
      }
      
      .botones {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 1;
        width: 100%;
        text-align: center;
      }
      
      .btn-izquierda,
.btn-derecha {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 30px;
}

.btn-izquierda {
  left: 0;
}

.btn-derecha {
  right: 0;
}

/* ventas */
.venta img:hover{
    cursor: pointer;
    filter: brightness(0.5);
    -webkit-filter: brightness(0.5);
}

/* ul li */
.selected{
    color: black;
    font-weight: bold;
}

.texto-oculto {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 200%;
  }

/* Nuevas partes centrales */
.contenido{
    display: flex;
    flex-direction: row;


}

#principal h1{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

#principal button.botoncito{
    width: 10vw !important;
    height: 6vh;
    padding: 10px;
    margin: 10px;

}

#principal input{
    width: 10vw !important;
    padding: 10px;
    margin: 5px;
}